<app-header
  
></app-header>
<!-- (recipeclicked)="recipeclicked($event)"
  (shoppinglistclicked)="shoppinglistclicked($event)" -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- 之前是用boolean值來決定要顯示哪一頁，現在改用route -->
<!-- 不是null，最一開始空空的東西是undefined
          <app-recipe-book *ngIf="booleans[0]===true || booleans[0] === undefind;else notRecipe"></app-recipe-book>
          <ng-template #notRecipe>
            可以將$event傳上來的資料命名成不同名字喔!
            <app-shopping-list></app-shopping-list>
          </ng-template> -->
